@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.base-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #00285f;
  height: 40px;
  border-radius: 5px;
  border: 0;
}

.btn-text {
  color: #fff;
  font-size: 14px;
}
