.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #00285f;
  width: 175px;
  height: 40px;
  border-radius: 5px;
}

.main-btn h5 {
  color: #fff;
  font-size: 14px;
}
