.btn-start-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    margin-top: 20px;
}

.btn-start-container h6{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

@media(min-width: 768px){
    .btn-start-container {
        margin-top: 40px;
    }
}