.nav-container {
  display: flex;
  align-items: center;
  height: 65px;
  padding-left: 40px;
  font-size: 32px;
}

.nav-container h1 {
  color: #fff;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .nav-container h1 {
    font-size: 1.8rem;
  }
}
